---
import Card from './Card.astro';
---

<main class="demo1">
	<Card />
	<Card />
	<Card />

	<style>
		.demo1 {
			padding: 1em;
			max-width: 100%;
			overflow-x: scroll;
			display: flex;
			justify-content: space-between;
			gap: 0.5em;
		}
	</style>
</main>
