---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Card from '../../components/Card.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 1100px;
				max-width: calc(100% - 2em);
			}
			ul {
				display: grid;
				grid-template-columns: 1fr;
				gap: 20px;
				list-style-type: none;
				padding: 0;
			}
			@media (min-width: 600px) {
				ul {
					grid-template-columns: 1fr 1fr;
				}
			}
			@media (min-width: 1024px) {
				ul {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1 class="title">Articles</h1>
				<ul>
					{posts.map((post) => <Card post={post} width="720" height="360" />)}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
