<footer>
	<h2 class="footer__title">Have questions or feedback?</h2>
	<p class="footer__description">Please get in touch at hey@theosoti.com</p>
	<p><a href="/book/terms/">Terms & Conditions</a></p>
</footer>
