<section class="faq">
	<h2 class="faq__title">Frequently asked questions</h2>

	<ul class="faq__container" role="list">
		<li class="accordion">
			<details open>
				<summary aria-describedby="accordion1">
					<h3 class="accordion__title" role="term">Who is this book for?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion1">
					If you're a web developer who wants to build interactive components without relying on JavaScript. If you
					care about performance, clean code, and saving time. Then this book is for you.
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion2">
					<h3 class="accordion__title" role="term">Do I need to be a CSS expert to follow along?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion2">
					You don't need to be an expert, but a basic understanding of CSS is necessary. The ebook is packed with tips
					and techniques that even seasoned developers will find valuable. You'll learn step-by-step through clear,
					practical examples.
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion3">
					<h3 class="accordion__title" role="term">What exactly will I learn?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion3">
					You'll learn how to create real-world UI components (like tabs, modals, dropdowns, etc.) using only CSS.
					Plus, you'll discover methods to speed up your pages, write maintainable code, and reduce bugs.
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion4">
					<h3 class="accordion__title" role="term">What format is the book available in?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion4">
					The book comes as a PDF, so you can read it anywhere. It’s lightweight, easy to navigate, and beautifully
					formatted for any screen size.
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion5">
					<h3 class="accordion__title" role="term">Will the book be updated in the future?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion5">
					Yes! Whenever I update <i>You Don’t Need JavaScript</i> with new examples or CSS features, you’ll get all future
					updates for free!
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion6">
					<h3 class="accordion__title" role="term">What if I don’t like the book?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion6">
					No worries. If you buy the book and feel it’s not for you, you can ask for a full refund within 30 days. No
					hard feelings, no questions asked. I want you to feel completely confident about your purchase. Send me an
					email at hey@theosoti.com and I'll refund you right away.
				</p>
			</div>
		</li>

		<li class="accordion">
			<details>
				<summary aria-describedby="accordion7">
					<h3 class="accordion__title" role="term">Did you use JavaScript for creating this page?</h3>
				</summary>
			</details>

			<div class="content">
				<p class="inner" role="definition" id="accordion7">
					Nope, I only used pure HTML & CSS! The only JavaScript in the page is the small tracking script.
				</p>
			</div>
		</li>
	</ul>
</section>
