---
import { ebookFaqs } from '../../data/ebook';
---

<section class="faq" aria-labelledby="faq-title">
	<h2 class="faq__title" id="faq-title">Frequently asked questions</h2>

	<ul class="faq__container">
		{
			ebookFaqs.map(({ question, answer }, index) => (
				<li class="accordion">
					<details name="book-faq" open={index === 0}>
						<summary>
							<span class="accordion__title">{question}</span>
						</summary>

						<div class="content">
							<p>{answer}</p>
						</div>
					</details>
				</li>
			))
		}
	</ul>
</section>
