<section class="cta">
	<h2 class="cta__title">30-Day Money-Back Guarantee</h2>
	<p class="cta__description">
		If you buy the ebook, but you are not completely satisfied, no worries! <br />Just send me an email at
		hey@theosoti.com within 30 days and you’ll get a full refund.
	</p>
</section>
