<section class="pricing" id="pricing">
	<h2 class="pricing__title">START LEARNING TODAY</h2>
	<p class="pricing__description">Limited Time Offer</p>
	<div class="pricing__container">
		<div class="pricing__item pricing__item-popular">
			<div class="pricing__item-tag">20% off</div>
			<h3 class="pricing__item-title">Complete bundle</h3>
			<div class="pricing__item-container">
				<span class="pricing__item-old-price">$89</span>
				<p class="pricing__item-price"><sup>$</sup>69</p>
			</div>
			<hr />
			<ul class="pricing__item-list">
				<li>125-page PDF with 27 practical examples</li>
				<li>Lifetime access & Free updates</li>
				<li>A library of 27 ready-to-use components</li>
				<li>A cheat sheet with every property from the book</li>
			</ul>
			<a class="button" href="https://buy.stripe.com/cNibJ31oFeng4Vl7Nw1Fe01" rel="noopener" target="_blank"
				>Get the bundle</a
			>
		</div>

		<div class="pricing__item">
			<div class="pricing__item-tag">20% off</div>
			<h3 class="pricing__item-title">Basic</h3>
			<div class="pricing__item-container">
				<span class="pricing__item-old-price">$49</span>
				<p class="pricing__item-price"><sup>$</sup>39</p>
			</div>

			<hr />
			<ul class="pricing__item-list">
				<li>125-page PDF with 27 practical examples</li>
				<li>Lifetime access & Free updates</li>
				<li class="princing__item-cross">✗<span>A library of 27 ready-to-use components</span></li>
				<li class="princing__item-cross">✗<span>A cheat sheet with every property from the book</span></li>
			</ul>
			<a class="button" href="https://buy.stripe.com/3cIdRb0kB3ICafF5Fo1Fe02" rel="noopener" target="_blank"
				>Get the ebook</a
			>
		</div>
	</div>
	<p class="pricing__money-back">30 day money back guaranteed</p>
</section>
