---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import { Picture } from 'astro:assets';
import profile from '../assets/profile.png';
import letter from '../assets/letter.png';

import { SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
	<head>
		<BaseHead
			title="A 7-day free email course on modern HTML & CSS."
			description="Ship Better Websites With Less JavaScript. Understand modern HTML & CSS for building more accessible and performant websites, without javaScript bloat."
		/>
	</head>
	<body>
		<Header />

		<section class="hero">
			<div class="container">
				<div class="content">
					<p class="subtitle">A 7-day <mark>free email course</mark> on modern HTML & CSS.</p>

					<h1>Ship Better Websites With Less JavaScript.</h1>
					<p class="description">
						Understand modern HTML & CSS for building more accessible and performant websites. Without JavaScript bloat.
					</p>
					<form
						action="https://app.kit.com/forms/8881601/subscriptions"
						class="seva-form formkit-form"
						method="post"
						data-sv-form="8881601"
						data-uid="63b09de3ca"
						data-format="inline"
						data-version="5"
					>
						<div data-style="clean">
							<ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
							<div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
								<div class="formkit-field">
									<input
										class="formkit-input"
										name="email_address"
										aria-label="Enter your email"
										placeholder="you@example.com"
										required=""
										type="email"
									/>
								</div>
								<button
									type="submit"
									data-element="submit"
									class="formkit-submit formkit-submit button"
									aria-label="Join the course"
								>
									<div class="formkit-spinner">
										<div></div>
										<div></div>
										<div></div>
									</div>
									Join course
								</button>
							</div>
						</div>
						<p class="nospam">Join 1800 developers No strings attached, unsubscribe anytime!</p>
					</form>
				</div>
				<Picture
					src={letter}
					formats={['avif', 'webp', 'jpg']}
					width="800"
					height="800"
					alt="Illustration for this email course"
				/>
			</div>
		</section>

		<main>
			<section class="benefits">
				<h2>What you'll get</h2>
				<ul>
					<li>
						<p>HTML patterns that reduce JavaScript complexity</p>
					</li>
					<li>
						<p>Modern CSS techniques for layouts and theming</p>
					</li>
					<li>
						<p>Accessibility improvements that don't slow teams down</p>
					</li>
					<li>
						<p>Performance wins that actually matter</p>
					</li>
					<li>
						<p>Progressive enhancement and resilient UI patterns</p>
					</li>
				</ul>
			</section>

			<section class="for-you">
				<h2>Is this for you?</h2>
				<div class="for-you__content">
					<div class="for-you__ok">
						<p>For you if:</p>
						<ul>
							<li>You care about performance and accessibility</li>
							<li>You prefer solid HTML & CSS over heavy JS</li>
							<li>You enjoy thoughtful, opinionated frontend writing</li>
						</ul>
					</div>
					<div class="for-you__not">
						<p>Not for you if:</p>
						<ul>
							<li>You prefer JavaScript-first solutions for everything</li>
							<li>You're not interested in frontend development</li>
							<li>You only want framework or tooling news</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="about">
				<Picture
					src={profile}
					formats={['avif', 'webp', 'jpg']}
					class="profile"
					width="100"
					height="100"
					alt="Theo Soti profile picture"
				/>
				<div class="about__content">
					<h2>Theo Soti</h2>
					<p>
						Frontend developer writing about modern HTML & CSS. I share practical ideas from real projects to reduce
						JavaScript, improve accessibility, and ship faster websites.<br />
						Author of <a href="/you-dont-need-js/">You Don't Need JavaScript</a> ebook.<br />
						Over 17 000 followers on LinkedIn, and over 9 million views in a year.
					</p>
				</div>
			</section>

			<section class="newsletter">
				<h2>Start the free email course and level up your frontend skills.</h2>
				<form
					action="https://app.kit.com/forms/8881601/subscriptions"
					class="seva-form formkit-form"
					method="post"
					data-sv-form="8881601"
					data-uid="63b09de3ca"
					data-format="inline"
					data-version="5"
				>
					<div data-style="clean">
						<ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
						<div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
							<div class="formkit-field">
								<input
									class="formkit-input"
									name="email_address"
									aria-label="Enter your email"
									placeholder="you@example.com"
									required=""
									type="email"
								/>
							</div>
							<button
								type="submit"
								data-element="submit"
								class="formkit-submit formkit-submit button"
								aria-label="Join the course"
							>
								<div class="formkit-spinner">
									<div></div>
									<div></div>
									<div></div>
								</div>
								Join course
							</button>
						</div>
					</div>
					<p class="nospam">Join 1800 developers. No strings attached, unsubscribe anytime!</p>
				</form>
			</section>
		</main>
	</body>
</html>

<style>
	:root {
		--fs-1: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
		--fs-2: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
		--fs-2-5: clamp(1.944rem, 1.7399rem + 1.0203vw, 2.4414rem);
		--fs-3: clamp(2.3328rem, 2.0378rem + 1.4748vw, 3.0518rem);
		--fs-4: clamp(2.7994rem, 2.3828rem + 2.0827vw, 3.8147rem);
		--fs-5: clamp(4rem, 2.3828rem + 2.0827vw, 5rem);

		--pad-4-8: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
		--pad-8-12: clamp(0.5rem, 0.463rem + 0.1743vw, 0.625rem);
		--pad-12-16: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
		--pad-16-32: clamp(1rem, 0.5897rem + 2.0513vw, 2rem);
		--pad-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
	}

	body {
		overflow-x: hidden;
	}

	mark {
		border: 2px solid var(--border);
		padding-inline: 0.5rem;
		background-color: var(--secondary);
		color: var(--white);
		border-radius: 6px;
		rotate: -3deg;
		display: inline-block;
		margin: 0 0.2rem;
	}

	main {
		display: flex;
		flex-direction: column;
		max-width: 760px;
		margin: 0 auto;
		padding: 0 1em var(--pad-xl);
		width: 100%;
		text-align: center;
	}

	h1 {
		font-family: 'BebasNeue', sans-serif;
		margin-bottom: 0;
		font-size: var(--fs-4);
		font-weight: 800;
	}

	.hero {
		text-align: center;
		background-color: var(--bg-light);
		border-bottom: 2px solid var(--border);

		.container {
			width: 1100px;
			max-width: calc(100% - 2em);
			margin: auto;
			padding: var(--pad-xl) 0;
			display: flex;
			flex-wrap: wrap;
			gap: 3em;
			align-items: center;

			.content {
				flex: 1 1 460px;
				min-width: 280px;
			}

			picture {
				flex-shrink: 0;
				max-width: 100%;
				margin-inline: auto;

				img {
					border: 4px solid var(--border);
					object-fit: cover;
					height: 370px;
					min-width: 280px;
					max-width: 400px;
					width: 100%;
				}
			}
		}
	}

	.description {
		font-size: var(--fs-1);
		font-weight: 400;
		margin-bottom: 0;
	}

	.benefits {
		margin-top: 3rem;

		h2 {
			margin-top: 0;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}

		li {
			padding-block: 0;
			padding-inline: 1rem;
			margin-bottom: 0.5rem;
			background-color: var(--bg-light);
			border: 1px solid hsl(36 20% 80%);
			border-radius: 6px;
			display: flex;
			align-items: center;

			p {
				width: 100%;
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.for-you {
		.for-you__content {
			display: flex;
			gap: 1.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			ul {
				padding-left: 0;
				list-style-type: none;
				margin-bottom: 0;
			}

			li {
				display: flex;
				align-items: baseline;
				margin-bottom: 0.5rem;
			}
			.for-you__ok {
				max-width: 340px;
				p {
					color: var(--secondary);
					font-weight: 500;
				}
			}

			.for-you__not {
				max-width: 340px;

				p {
					color: var(--small-text);
					font-weight: 500;
				}
			}
		}
	}

	.about {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 3rem;
		border: 1px solid hsl(36 20% 80%);
		border-left: 4px solid var(--secondary);
		padding: 1rem;
		background-color: var(--bg-light);
		border-radius: 6px;

		picture {
			width: 80px;
			height: 80px;
			flex-shrink: 0;
			margin-inline: auto;

			img {
				border: 2px solid var(--border);
			}
		}

		.about__content {
			flex: 1 1 300px;
			min-width: 200px;

			p {
				margin: 0;
			}
		}

		h2 {
			margin-top: 0;
		}
	}

	.newsletter {
		background-color: var(--bg-light);
		border: 2px solid var(--border);
		padding: 1.5rem;
		border-radius: 6px;
		margin-top: 3rem;
		box-shadow: var(--box-shadow);

		h2 {
			margin-top: 0;
		}
	}

	.subtitle {
		color: var(--secondary);
		font-size: var(--fs-2);
		font-weight: normal;
		margin: 0;
	}

	.formkit-alert-error {
		padding: 0;
		list-style-type: none;
		color: #b82f2f;
	}
	.nospam {
		margin: 5px 0 0;
		font-size: 0.8rem;
		color: var(--small-text);
	}
	form {
		margin: 1rem 0 0;
		width: 100%;
	}
	.formkit-fields {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
	}
	.formkit-field {
		flex: 1;
		min-width: 180px;
		margin: 0;
	}
	button.button.formkit-submit {
		padding: 0 1rem;
		height: 55px;
		font-weight: bold;
	}
	.formkit-form {
		position: relative;
	}

	.formkit-input::placeholder {
		color: var(--small-text);
		opacity: 1;
	}
	.formkit-input:hover,
	.formkit-input:focus {
		box-shadow: 0 0 var(--black);
	}
	.formkit-input,
	.button {
		height: 60px;
		border: 2px solid var(--border);
		border-radius: 6px;
		font-size: 1rem;
		flex-shrink: 0;
		font-weight: 500;
	}

	.formkit-input {
		width: 100%;
		padding: 0 1rem;
		border-color: var(--text);
		background-color: var(--bg-light);
		color: var(--text);
		transition: outline 0.2s ease;
	}

	@media screen and (min-width: 600px) {
		main,
		.hero {
			text-align: left;
		}

		.benefits li::before {
			content: '→';
			margin-right: 0.5rem;
			font-size: 1.2rem;
			color: var(--secondary);
			font-weight: 800;
		}

		.newsletter {
			padding-bottom: 3rem;
		}

		.for-you {
			.for-you__content {
				justify-content: space-between;

				li:before {
					margin-right: 0.5rem;
					font-size: 1rem;
				}

				.for-you__ok {
					li:before {
						content: '✓';
						color: var(--secondary);
					}
				}

				.for-you__not {
					li:before {
						content: '✗';
						color: var(--small-text);
					}
				}
			}
		}
	}

	@container (min-width: 740px) {
		form {
			margin-top: 0;
		}

		.nospam {
			text-align: left;
		}
	}
</style>
