---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.reverse()
	.splice(-3)
	.reverse();
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Hero />

		<main>
			<h2>Latest articles</h2>
			<ul>
				{posts.map((post) => <Card post={post} width="720" height="360" />)}
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		padding: 1em 0 1.5em;
	}
	h2 {
		margin-top: 0;
	}
	ul {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;
	}
	@media (min-width: 600px) {
		main {
			padding: 2em 0 2.5em;
		}
		ul {
			grid-template-columns: 1fr 1fr;
		}
	}
	@media (min-width: 1024px) {
		ul {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
</style>
