---
import '../styles/ebookv2.css';

import AboutSection from '../components/ebook/AboutSection.astro';
import EbookFooter from '../components/ebook/EbookFooter.astro';
import FaqSection from '../components/ebook/FaqSection.astro';
import FeaturesSection from '../components/ebook/FeaturesSection.astro';
import GuaranteeSection from '../components/ebook/GuaranteeSection.astro';
import HeroSection from '../components/ebook/HeroSection.astro';
import LearningSection from '../components/ebook/LearningSection.astro';
import MarqueeStrip from '../components/ebook/MarqueeStrip.astro';
import PricingSection from '../components/ebook/PricingSection.astro';
import TestimonialsSection from '../components/ebook/TestimonialsSection.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />

		<title>You Don’t Need JavaScript | A complete CSS guide to build components without JavaScript</title>
		<meta name="title" content="You Don’t Need JavaScript | A Practical CSS eBook" />
		<meta
			name="description"
			content="Learn to build accessible components without JavaScript using pure CSS.
125-page guide with real-world examples, tutorials & modern CSS techniques."
		/>

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content="You Don’t Need JavaScript | A Practical CSS eBook" />
		<meta
			property="og:description"
			content="A practical ebook for front-end devs: Learn to create interactive, modern UI with CSS. No JavaScript required."
		/>
		<meta property="og:image" content={new URL('ebook.png', Astro.site)} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content="You Don’t Need JavaScript | A Practical CSS eBook" />
		<meta
			property="twitter:description"
			content="A practical ebook for front-end devs: Learn to create interactive, modern UI with CSS. No JavaScript required."
		/>
		<meta property="twitter:image" content={new URL('ebook.png', Astro.site)} />
	</head>

	<body>
		<HeroSection />
		<LearningSection />
		<FeaturesSection />
		<MarqueeStrip width="270px" icon="starburst" />
		<TestimonialsSection />
		<GuaranteeSection />
		<AboutSection />
		<MarqueeStrip width="265px" icon="sparkle" />
		<PricingSection />
		<FaqSection />
		<EbookFooter />

		<script
			is:inline
			id="fairlytics-id-ajcu6jd9k7ysd6"
			data-fairlyticskey="dd1ef671b215395a2912c7a591fda831"
			src="https://app.fairlytics.tech/tag/tag.js"
			async></script>
	</body>
</html>
