---
const { title = 'Result' } = Astro.props;
---

<div class="wrapper">
	{title}

	<div class="content">
		<slot />
	</div>
</div>

<style>
	.wrapper {
		border: 2px solid var(--border);
		background: var(--bg-light);
		margin: 1em 0 2em;
		padding: 0 0.3em 0.3em;
	}

	.content {
		border: 2px solid var(--border);
	}
</style>
