---
import HeaderLink from './HeaderLink.astro';
import DarkMode from './DarkMode.astro';
import { SITE_NAME } from '../consts';
---

<header>
	<nav>
		<div class="logo">
			<a href="/">{SITE_NAME}</a>
		</div>
		<div class="nav-container">
			<DarkMode />
			<button
				class="mobile-menu button"
				popovertarget="mobile-navigation"
				popovertargetaction="show"
				type="button"
				aria-label="Open main navigation"
				aria-controls="mobile-navigation"
				aria-haspopup="true"
			>
				<span></span>
				<span></span>
				<span></span>
			</button>
			<div popover id="mobile-navigation">
				<div class="drawer-top">
					<span>Menu</span>
					<button class="mobile-close button" popovertarget="mobile-navigation" popovertargetaction="hide">
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="drawer-links">
					<HeaderLink href="/">Home</HeaderLink>
					<HeaderLink href="/blog">Blog</HeaderLink>
				</div>
				<HeaderLink rel="noopener" target="_blank" href="https://zcal.co/theodore/30min" class="hireme button"
					>Hire Me</HeaderLink
				>
			</div>
			<div class="global-links">
				<div class="internal-links">
					<HeaderLink href="/">Home</HeaderLink>
					<HeaderLink href="/blog">Blog</HeaderLink>
				</div>
				<HeaderLink
					rel="noopener"
					target="_blank"
					href="https://zcal.co/theodore/30min"
					class="hireme button"
					aria-label="hire me">Hire Me</HeaderLink
				>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		background-color: var(--background);
		border-bottom: 4px solid var(--border);
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav .logo a {
		display: block;
		margin: 0;
		font-size: 2rem;
		width: fit-content;
		border: 4px solid black;
		padding: 0.2em 0.3em;
		line-height: 1;
		background: var(--bg-white);
	}
	.nav-container {
		display: flex;
		align-items: center;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1100px;
		max-width: calc(100% - 2em);
		margin: auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--text);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: var(--secondary);
	}
	nav .internal-links a:hover {
		color: var(--secondary);
	}
	nav a.hireme {
		margin-top: -3px;
		margin-left: 2em;
		padding: 0.1em 0.5em;
		margin: auto;
		color: var(--white);
	}
	#mobile-navigation {
		height: 100dvh;
		width: 200px;
		margin-right: 0;
		margin-left: auto;
		padding: 0;
		border: 0;
		background-color: var(--background);
		border-left: 4px solid var(--border);
		transition:
			transform 0.2s ease-out,
			opacity 0.2s ease-out;
		transition-behavior: allow-discrete;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transform: translateX(200px);
	}
	#mobile-navigation:popover-open {
		opacity: 1;
		transform: translateX(0px);
	}
	#mobile-navigation .drawer-links {
		display: flex;
		flex-direction: column;
	}
	#mobile-navigation .drawer-links a:first-child {
		border-top: 2px solid var(--border);
	}
	#mobile-navigation .drawer-links a {
		border-bottom: 2px solid var(--border);
	}
	#mobile-navigation .hireme {
		margin: 20px auto 0 auto;
	}
	.drawer-top {
		color: var(--text);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.drawer-top span {
		padding-left: 0.5rem;
		font-weight: 600;
	}
	nav button.mobile-menu {
		cursor: pointer;
		padding: 0.5em 0.5em;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	.mobile-menu span {
		width: 20px;
		height: 2px;
		background-color: var(--border);
		border-radius: 6px;
	}
	.global-links {
		display: none;
	}
	.mobile-close {
		cursor: pointer;
		width: fit-content;
		padding: 0.8rem 1rem;
		margin: 0.5rem 0.5rem 1rem auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.mobile-close span:first-child {
		rotate: 45deg;
	}
	.mobile-close span {
		width: 20px;
		height: 2px;
		background-color: var(--border);
		border-radius: 6px;
		rotate: -45deg;
		transform-origin: center;
		position: absolute;
	}

	@media (min-width: 600px) {
		#mobile-navigation {
			display: none;
		}
		header {
			padding: 0;
		}
		.global-links {
			display: flex;
			gap: 40px;
		}
		nav button.mobile-menu {
			display: none;
		}
	}
</style>
