---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<button class="mobile-menu button" popovertarget="mobile-navigation" popovertargetaction="show">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div popover id="mobile-navigation">
			<div class="drawer-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<HeaderLink href="#" class="hireme button">Hire Me</HeaderLink>
		</div>
		<div class="global-links">
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<HeaderLink href="#" class="hireme button">Hire Me</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 0;
		background: var(--background);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		border-bottom: 4px solid rgba(var(--black));
	}
	h2 {
		margin: 0;
		font-size: 2em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1100px;
    max-width: calc(100% - 2em);
		margin: auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: var(--accent-dark);
	}
	nav .internal-links a:hover {
		color: var(--accent-dark);
	}
	nav a.hireme {
		margin-top: -3px;
		margin-left: 2em;
    padding: 0.1em 0.5em;
		margin: auto;
	}
	h2 a {
		padding: 0;
	}
	#mobile-navigation {
		height: 100vh;
		width: 200px;
		margin-right: 0;
    margin-left: auto;
		padding: 0;
		border: 0;
		background-color: var(--background);
		border-left: 4px solid rgba(var(--black));
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		transition-behavior: allow-discrete;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transform: translateX(200px);
	}
	#mobile-navigation:popover-open {
		opacity: 1;
		transform: translateX(0px);
	}
	#mobile-navigation .drawer-links {
		display: flex;
		flex-direction: column;
	}
	#mobile-navigation .drawer-links a {
		border-bottom: 2px solid rgba(var(--black));
	}
	#mobile-navigation .hireme {
		margin: 20px auto 0 auto;
	}
	nav button.mobile-menu {
		cursor: pointer;
		padding: 0.5em 0.5em;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	.mobile-menu span {
		width: 20px;
		height: 2px;
		background-color: rgba(var(--black));
		border-radius: 6px;
	}
	.global-links {
		display: none;
	}
	

	@media (min-width: 600px) {
		.global-links {
			display: flex;
			gap: 40px;
		}
		nav button.mobile-menu{
			display: none;
		}
		#mobile-navigation:popover-open {
			opacity: 0;
		transform: translateX(200px);
		}
	}
</style>
