<main class="tint-demo">
	<div class="tint-demo__grid">
		<div class="tint-demo__box tint-demo__box--too-gray">Too gray</div>
		<div class="tint-demo__box tint-demo__box--too-bright">Too bright</div>
		<div class="tint-demo__box tint-demo__box--just-right">Just right</div>
	</div>
</main>

<style>
	.tint-demo {
		--background: hsl(245.2deg 100% 86.53%);
		background: var(--background);
		padding: 1.5rem 1rem 2rem;
		display: grid;
		gap: 1rem;
		max-width: 100%;
		color: hsl(220deg 20% 15%);
	}
	.tint-demo__grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	}
	.tint-demo__box {
		min-height: 90px;
		padding: 1rem;
		border-radius: 12px;
		background: white;
		text-align: center;
		display: grid;
		place-content: center;
		box-shadow: 1px 2px 8px var(--shadow-color);
	}
	.tint-demo__box--too-gray {
		--shadow-color: hsl(0deg 0% 0% / 0.5);
	}
	.tint-demo__box--too-bright {
		--shadow-color: hsl(from var(--background) h s 50%);
	}
	.tint-demo__box--just-right {
		--shadow-color: hsl(from var(--background) h 60% 50%);
	}
</style>
