@font-face {
	font-family: 'BebasNeue';
	src:
		url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
		url('/fonts/BebasNeue-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer main {
	:root {
		--main: #8955ff;
		--secondary: hsl(170.43deg 60% 22.55%);
		--yellow: #f7c86d;
		--background: rgb(255, 248, 240);
		--bg-light: hsl(17 89.74% 92.35%);
		--white: hsl(230, 100%, 99%);
		--black: hsl(0, 0%, 9%);
		--text: hsl(0, 0%, 9%);
		--small-text: hsl(0, 0%, 44%);
		--border: hsl(0, 0%, 9%);

		--fs-1: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
		--fs-2: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
		--fs-2-5: clamp(1.944rem, 1.7399rem + 1.0203vw, 2.4414rem);
		--fs-3: clamp(2.3328rem, 2.0378rem + 1.4748vw, 3.0518rem);
		--fs-4: clamp(2.7994rem, 2.3828rem + 2.0827vw, 3.8147rem);
		--fs-5: clamp(4rem, 2.3828rem + 2.0827vw, 5rem);

		--pad-4-8: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
		--pad-8-12: clamp(0.5rem, 0.463rem + 0.1743vw, 0.625rem);
		--pad-12-16: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
		--pad-16-32: clamp(1rem, 0.5897rem + 2.0513vw, 2rem);
		--pad-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);

		--container-width: 68.75rem;
	}

	*:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--text);
		border-radius: 4px;
	}

	* {
		box-sizing: border-box;
	}
	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	body {
		font-family:
			'system-ui',
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
		margin: 0;
		padding: 0;
		text-align: left;
		background-color: var(--background);
		overflow-x: hidden;
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: var(--text);
		font-size: 16px;
		font-weight: 400;
		line-height: 1.7;
	}

	main {
		width: var(--container-width);
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 0;
	}

	a {
		color: var(--secondary);
		transition:
			color,
			0.3s ease;
	}

	a:hover {
		color: var(--main);
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}

	h1,
	h2,
	h3 {
		text-wrap: balance;
		margin: 0 0 0.5em 0;
		line-height: 1.2;
		font-weight: 500;
	}

	h1 {
		font-family: 'BebasNeue', sans-serif;

		font-size: var(--fs-4);
		font-weight: 800;
	}

	h2 {
		font-family: 'BebasNeue', sans-serif;

		font-size: var(--fs-3);
		font-weight: bold;
	}
}
