@layer faq {
	:root {
		interpolate-size: allow-keywords;
	}

	.faq {
		padding: var(--pad-xl) var(--pad-16-32);
		border-bottom: 2px solid var(--border);
		background-color: var(--background);
	}

	.faq__container {
		max-width: var(--container-width);
		margin-inline: auto;
		padding: 0;
	}

	.faq__title {
		text-align: center;
		margin-bottom: var(--pad-xl);
	}

	.accordion {
		margin-bottom: 1em;
		box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
		border: 2px solid var(--black);
		border-radius: 6px;
		overflow: clip;
		transition:
			transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

		details {
			background-color: var(--white);
		}

		summary {
			display: block;
			list-style: none;
			cursor: pointer;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		.accordion__title {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;
			gap: 1em;
			margin: 0;
			padding: var(--pad-4-8) var(--pad-12-16);
			background-color: var(--secondary);
			color: var(--white);
			font-size: var(--fs-2);
			font-weight: 400;
			line-height: 1.7;
			text-wrap: balance;
		}

		.accordion__title::after {
			content: '\276F';
			transform: rotate(90deg);
			transform-origin: center;
			transition: transform 0.3s ease;
		}

		details::details-content {
			block-size: 0;
			overflow: clip;
			content-visibility: hidden;
			background-color: var(--white);
			transition:
				block-size 0.3s ease,
				content-visibility 0.3s ease;
			transition-behavior: allow-discrete;
		}

		details[open]::details-content {
			block-size: auto;
			content-visibility: visible;
		}

		details[open] .accordion__title::after {
			transform: rotate(270deg);
		}

		.content {
			padding: var(--pad-12-16) var(--pad-12-16);
		}

		.content p {
			margin: 0;
			line-height: 1.7;
			text-wrap: pretty;
		}
	}

	.accordion:has(details[open]),
	.accordion:has(summary:hover) {
		box-shadow: 0 0 var(--black);
		transform: translateY(6px);
	}

	summary:focus-visible {
		outline: none;
	}

	.accordion:has(summary:focus-visible) {
		outline: 2px solid var(--text);
		outline-offset: 4px;
		box-shadow: 0 0 var(--black);
		transform: translateY(6px);
	}

	@media (prefers-reduced-motion: reduce) {
		.accordion,
		.accordion__title::after,
		details::details-content {
			transition: none;
		}
	}
}
