<main class="demo3">
	<input id="demo3-darkmode" type="checkbox" />
	<label for="demo3-darkmode"> Dark mode </label>

	<div class="demo3-content">
		<p class="demo-title">CSS-only dark mode</p>
		<p>
			Lorem ipsum dolor sit amet, <a href="#">a link</a> consectetur adipiscing elit . Quisque maximus justo quis sapien
			ornare vehicula vitae at est <a href="#">another link</a>.
		</p>
	</div>
</main>

<style>
	.demo3 {
		--c-text: #493c37;
		--c-background: #eddfe0;
		--c-primary: #b392f0;

		padding: 1em;
		max-width: 100%;
	}
	p,
	label {
		color: var(--c-text);
	}
	main {
		background-color: var(--c-background);
	}
	a {
		color: var(--c-primary);
	}
	p {
		margin: 0;
	}
	.demo-title {
		margin: 0.4rem 0;
		font-size: 1.8em;
	}
	.demo3:has(#demo3-darkmode:checked) {
		--c-text: #fff;
		--c-background: #333;
		--c-interactive: #98fb98;
	}
</style>
