<main class="demo">
	<input id="demo-darkmode" type="checkbox" />
	<label for="demo-darkmode"> Dark mode </label>

	<div class="demo-content">
		<p class="demo-title">CSS-only dark mode</p>
		<p>
			Lorem ipsum dolor sit amet, <a href="#">a link</a> consectetur adipiscing elit . Quisque maximus justo quis sapien
			ornare vehicula vitae at est <a href="#">another link</a>.
		</p>
	</div>
</main>

<style>
	.demo {
		padding: 1em;
		max-width: 100%;
		background-color: white;
	}
	p,
	label {
		color: black;
	}
	a {
		color: purple;
	}
	p {
		margin: 0;
	}
	.demo-title {
		margin: 0.4rem 0;
		font-size: 1.8em;
	}
</style>
