<main class="demo">
	<p class="warning">⚠️ Your browser does not support Scroll-Linked Animations. Please use Chrome 115 or newer.</p>
	<div class="container">
		<div class="progress"></div>
		<p>⏬ Scroll Me ⏬</p>
	</div>
</main>

<style>
	.warning {
		background: #0000003d;
		border: 2px solid var(--border);
		padding: 1em;
	}

	.container {
		height: 500px;
		position: relative;
		display: none;
	}

	@supports (animation-timeline: scroll()) {
		.warning {
			display: none;
		}
		.demo {
			height: 200px;
			overflow-y: scroll;
			position: relative;
		}
		p {
			position: sticky;
			top: 74px;
			left: 0;
			text-align: center;
			margin-top: 50px;
			color: deeppink;
		}
		.progress {
			background: #dbdbdb;
			height: 5px;
			position: sticky;
			top: 0;
			left: 0;
			border-radius: 5px;
		}
		.progress:before {
			content: '';
			position: absolute;
			border-radius: 5px;
			background: deeppink;
			width: 0;
			height: 5px;
			animation: progress linear both;
			animation-timeline: scroll(block nearest);
		}

		.container {
			display: block;
		}
	}

	@keyframes progress {
		to {
			width: 100%;
		}
	}
</style>
