<main class="demo">
	<div class="container">
		<span>⏬ Scroll Me ⏬</span>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam, neque eget ornare fermentum, tellus augue
			bibendum ante, ac mattis purus mauris nec nunc. Donec vel orci iaculis, vehicula risus at, finibus dolor.
			Pellentesque rhoncus pellentesque faucibus. Mauris id feugiat augue. Aenean ut odio luctus lorem tristique
			sollicitudin ut a elit. Pellentesque et pharetra nunc. Proin at suscipit ante. Proin aliquam massa accumsan,
			convallis orci at, laoreet erat. Nam dictum facilisis auctor. Aenean ac efficitur est. Integer non leo ut magna
			semper imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
			tristique lectus et finibus pretium.
		</p>
		<img src="https://picsum.photos/id/238/800/200" width="800" height="200" alt="CSS scroll-driven example1" />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam, neque eget ornare fermentum, tellus augue
			bibendum ante, ac mattis purus mauris nec nunc. Donec vel orci iaculis, vehicula risus at, finibus dolor.
			Pellentesque rhoncus pellentesque faucibus. Mauris id feugiat augue. Aenean ut odio luctus lorem tristique
			sollicitudin ut a elit. Pellentesque et pharetra nunc. Proin at suscipit ante. Proin aliquam massa accumsan,
			convallis orci at, laoreet erat. Nam dictum facilisis auctor. Aenean ac efficitur est. Integer non leo ut magna
			semper imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
			tristique lectus et finibus pretium.
		</p>
		<img src="https://picsum.photos/id/237/800/200" width="800" height="200" alt="CSS scroll-driven example2" />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam, neque eget ornare fermentum, tellus augue
			bibendum ante, ac mattis purus mauris nec nunc. Donec vel orci iaculis, vehicula risus at, finibus dolor.
			Pellentesque rhoncus pellentesque faucibus. Mauris id feugiat augue. Aenean ut odio luctus lorem tristique
			sollicitudin ut a elit. Pellentesque et pharetra nunc. Proin at suscipit ante. Proin aliquam massa accumsan,
			convallis orci at, laoreet erat. Nam dictum facilisis auctor. Aenean ac efficitur est. Integer non leo ut magna
			semper imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
			tristique lectus et finibus pretium.
		</p>
		<img src="https://picsum.photos/id/239/800/200" width="800" height="200" alt="CSS scroll-driven example3" />
	</div>
</main>

<style>
	.demo {
		height: 300px;
		overflow-y: scroll;
		position: relative;
		margin: 0;
		width: 100%;
		max-width: inherit;
		padding: 20px;
	}
	.container {
		position: relative;
	}
	span {
		display: block;
		text-align: center;
		color: deeppink;
	}

	img {
		opacity: 0.2;
		transform: translateX(-100px);
		animation: fade-in linear forwards;
		animation-timeline: view();
	}

	@keyframes fade-in {
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
</style>
